<div class="form-group">
  <div class=e302_26>
@*    <div class=e302_30>
      <a href="" class="e302_31">Como funciona</a>
      <a href="D:\Users\droeder.UNIVEL\Desktop\Leigos\Entrar/index.html" class="e302_32">Entrar</a>
      <div class=e302_33>
        <div class="e302_34"></div>
        <div class=e302_35>
          <a href="D:\Users\droeder.UNIVEL\Desktop\Leigos\MaisClientes/index.html"  class="box e302_36">Seja um proficional</a>
        </div>
      </div>
    </div>*@
    <span class="e302_37">Conectando quem precisa com quem sabe fazer</span>
    <span class="e302_38">Fale o que precisa, e receba até 3 orçamentos, escolha o melhor.</span>
    <div class=e302_39>
      <div class="e302_40"></div>
      <div class=e302_41><span class="e302_42">Todas as categorias de serviços</span>
      </div>
      <span class="e302_43">Assitência técnica</span>
      <span class="e302_44">Aulas</span>
      <span class="e302_45">Autos</span>
      <span class="e302_46">Consultoria</span>
      <span class="e302_47">Design e Tecnologia</span>
      <span class="e302_48">Eventos</span>
      <span class="e302_49">Moda e Beleza</span>
      <span class="e302_50">Reformas e Reparos</span>
      <span class="e302_51">Saúde</span>
      <span class="e302_52">Serviços Domésticos</span>
      <div class="e302_53"></div>
      <div class="e302_54"></div>
      <div class="e302_55"></div>
      <div class="e302_56"></div>
      <div class="e302_57"></div>
      <div class="e302_58"></div>
      <div class="e302_59"></div>
      <div class="e302_60"></div>
      <div class="e302_61"></div>
      <div class="e302_62"></div>
    </div>
    <div class=e302_63>
      <a class="e302_64">Leigos</a>
      <span class="e302_65">Conectado em você!</span>
    </div>
    <div class=e302_66>
      <div class="e302_67"></div>
      <span class="e302_68">O que você precisa?</span>
      <div class="e302_69"></div>
      <span class="e302_70">BUSCAR</span>
      <div class="e302_71"></div>
    </div>
    <div class="e302_72"></div>
  </div>
</div>