@model Servico

<div class="col-4">
    <p><img src="@Model.Imagem" class="img-fluid" /></p>
    <h3>@Model.NomeServico.ToString()</h3>
    <h4>@Model.DescricacaoServico.ToString()</h4>
    @*<h4>@Model.EmailPessoa.ToString()</h4>*@
</div>